*{
    margin: 0;
    padding: 0;
}
.background{
    background-image: url(./img/medusa.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:832px;
    display: flex;
    
}
.box1{
    width: 293px;
    height: 513px;
    background-color:rgb(219, 197, 0);    
opacity: 0.5;
    margin-left: 15px;
    margin-top: 10px;
    
}
.box2{
    width: 293px;
    height: 513px;
    background-color:rgb(219, 197, 0);
    opacity: 0.4;
    margin-left: 15px;
    margin-top: 10px;

}
.box3{
    width: 293px;
    height: 513px;
    background-color:rgb(219, 197, 0);
    opacity: 0.7;
    margin-left: 15px;
    margin-top: 10px;

}
.box4{
    width: 293px;
    height: 513px;
    background-color:rgb(219, 197, 0);
    opacity: 0.35;
    margin-left: 15px;
    margin-top: 10px;

}